.robot{
    position: absolute;
    top: 250px;
    left:650px;

}
.face{
    border: 2px solid;
    background-color: aquamarine;
    border-radius: 200px 200px;
    height: 200px;
    width: 200px;
    position: absolute;
    left: -50px;
    top: 0px;

}
.lefteye{
    border: 5px solid white;
    background-color: black;
    height: 30px;
    width: 30px;
    position: inherit;
    border-radius: 100%;
    left: 40px;
    top: 40px;
}
.righteye{
    border: 5px solid white;
    background-color: black;
    height: 30px;
    width: 30px;
    position: inherit;
    left: 110px;
    top: 42px;
    border-radius: 100%;
}
.mouth{
    border: 2px solid black;
    background-color: gray;
    height: 10px;
    width: 70px;
    position: inherit;
    left: 60px;
    top: 103px;

}
.neck{
    background-color: black;
    height: 50px;
    width: 70px;
    position: relative;
    z-index: -1;
    top: 60px;
    left: 65px;

}
.leftantenna1{
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 100px solid rgb(211, 212, 211);
margin: 2rem;
position: relative;
top: -130px;
left: 54px;
z-index: -1;
}
.antennaball{
    background-color: tomato;
    height: 30px;
    width: 30px;
    position: inherit;
    border-radius: 100%;
    left: -12px;
    top: -6px;
    z-index: 2;
}
.parts{
    border: 2px solid;
    background-color: aquamarine;
    height: 190px;
    width: 200px;
    position: absolute;
    border-radius: 0 0 40% 40%;
    top: 145px;
    left: -50px;

}
.lefthand{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 30px;
    position: relative;
    border-radius: 2% 2% 40% 40%;
    top: 0;


}
.righthand{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 30px;
    position: absolute;
    border-radius: 2% 2% 40% 40%;
    left: 170px;
    top: 0;


}
.leftleg{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 40px;
    position: absolute;
    left: 120px;
    top: 160px;
    z-index: -2;
    border-radius: 2% 2% 40% 40%;

}
.rightleg{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 40px;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: -2;
    border-radius: 2% 2% 40% 40%;
}
.legroll{
    border: 2px solid;
    background-color: black;
    height: 20px;
    width: 10px;
    position: absolute;
    top: 140px;
    left: 13px;
    border-radius: 100%;
}
@keyframes movelefthand {
    0%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    25%{
        transform: rotate(90deg);
        transform-origin: top center;
    }
    50%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    75%{
        transform: rotate(90deg);
        transform-origin: top center;
    }
    100%{
        transform: rotate(0deg);
        transform-origin: top center;
    }   
}
@keyframes moverighthand {
    0%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    25%{
        transform: rotate(90deg);
        transform-origin: top center;
    }
    50%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    75%{
        transform: rotate(90deg);
        transform-origin: top center;
    }
    100%{
        transform: rotate(0deg);
        transform-origin: top center;
    }   
}@keyframes moveantenna {
    0%{
        transform: rotate(0deg);
        transform-origin: bottom center;
    }
    25%{
        transform: rotate(45deg);
        transform-origin: bottom center;
    }
    50%{
        transform: rotate(0deg);
        transform-origin: bottom center;
    }
    75%{
        transform: rotate(-45deg);
        transform-origin: bottom center;
    }
    100%{
        transform: rotate(0deg);
        transform-origin: bottom center;
    }   
}
.robot .leftantenna1{
    animation: moveantenna 2s infinite;
}
.robot .righthand{
    animation: moverighthand 3.5s infinite;
}
.robot .lefthand{
    animation: movelefthand 3s infinite;
}
.movement {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateX(230px); 
    }
    100% {
        transform: translateX(-180px); 
    }