body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.robot{
    position: absolute;
    top: 0px;
    left:850px;

}
.face{
    border: 2px solid;
    background-color: aquamarine;
    border-radius: 200px 200px;
    height: 200px;
    width: 200px;
    position: absolute;
    left: -50px;
    top: 0px;

}
.lefteye{
    border: 5px solid lightslategray;
    background-color: black;
    height: 30px;
    width: 30px;
    position: inherit;
    border-radius: 100%;
    left: 40px;
    top: 40px;
}
.righteye{
    border: 5px solid lightslategray;
    background-color: black;
    height: 30px;
    width: 30px;
    position: inherit;
    left: 110px;
    top: 42px;
    border-radius: 100%;
}
.mouth{
    border: 2px solid black;
    background-color: gray;
    height: 10px;
    width: 70px;
    position: inherit;
    left: 60px;
    top: 103px;

}
.leftantenna1{
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 80px solid rgb(211, 212, 211);
margin: 2rem;
position: relative;
top: -110px;
left: 54px;
z-index: -1;
}
.antennaball{
    background-color: tomato;
    height: 30px;
    width: 30px;
    position: inherit;
    border-radius: 100%;
    left: -12px;
    top: -6px;
    z-index: 2;
}
.parts{
    border: 2px solid;
    background-color: aquamarine;
    height: 190px;
    width: 200px;
    position: absolute;
    border-radius: 0 0 40% 40%;
    top: 145px;
    left: -50px;

}
.b1{
    background-color: rgb(7, 205, 13);
    height: 20px;
    width: 20px;
    position: inherit;
    bottom: 110px;
    left: 55px;
border-radius: 100%;
}
.b2{
    background-color: red;
    height: 20px;
    width: 50px;
    position: inherit;
    bottom: 110px;
    left: 85px;

}
.b3{
    background-color: blue;
    height: 20px;
    width: 20px;
    position: inherit;
    bottom: 110px;
    left: 145px;
    border-radius: 100%;
}
.lefthand{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 30px;
    position: relative;
    border-radius: 2% 2% 40% 40%;
    top: 0;
    z-index: 2;


}
.righthand{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 30px;
    position: absolute;
    border-radius: 2% 2% 40% 40%;
    left: 170px;
    top: 0;
    z-index: 2;


}
.leftleg{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 40px;
    position: absolute;
    left: 120px;
    top: 160px;
    z-index: -1;
    border-radius: 2% 2% 40% 40%;

}
.rightleg{
    border: 2px solid;
    background-color: aqua;
    height: 150px;
    width: 40px;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: -1;
    border-radius: 2% 2% 40% 40%;
}
.legroll{
    border: 2px solid;
    background-color: black;
    height: 20px;
    width: 10px;
    position: absolute;
    top: 140px;
    left: 13px;
    border-radius: 100%;
}
.tv{
    border: 2px solid;
    background-image: url(heart.jfif);
    height: 50px;
    width: 130px;
    background-size: cover;
    position: relative;
    top: -60px;
    left: 40px;

}

@keyframes movelefthand {
    0%,100%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    16.6%{
        transform: rotate(90deg);
        transform-origin: top center;
    }
    33.3%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    49.8%{
        transform: rotate(-90deg);
        transform-origin: top center;
    }
    66.4%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    83%{
        transform: rotate(90deg);
        transform-origin: top center;
    }   
}
@keyframes moverighthand {
    0%,100%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    16.6%{
        transform: rotate(90deg);
        transform-origin: top center;
    }
    33.3%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    49.8%{
        transform: rotate(-90deg);
        transform-origin: top center;
    }
    66.4%{
        transform: rotate(0deg);
        transform-origin: top center;

    }
    83%{
        transform: rotate(-90deg);
        transform-origin: top center;
    }   
}
@keyframes moveantenna {
    0%{
        transform: rotate(0deg);
        transform-origin: bottom center;
    }
    25%{
        transform: rotate(45deg);
        transform-origin: bottom center;
    }
    50%{
        transform: rotate(0deg);
        transform-origin: bottom center;
    }
    75%{
        transform: rotate(-45deg);
        transform-origin: bottom center;
    }
    100%{
        transform: rotate(0deg);
        transform-origin: bottom center;
    }   
}
.robot .leftantenna1{
    animation: moveantenna 3s infinite;
}
.robot .righthand{
    animation: moverighthand 2s infinite;
}
.robot .lefthand{
    animation: movelefthand 2s infinite;
}
.movement {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    animation: bounce 3s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateX(330px); 
        transform: translateY(50px);
        left: -380px;
    }
 
    20%{
        transform: translateX(200px);
        transform: translateY(0px);
        left: -150px;
    }

    40%{
        transform: translateX(-30px);
        transform: translateY(50px);
        left: 0px;
    }

    60%{
        transform: translate(-130px);
        transform: translateY(0px);
        left: 10;
    }

80%{
    transform: translateX(-230px);
    transform: translateY(50px);
    left: -150px;
}

    100% {
        transform: translateX(-330px); 
        transform: rotateY(0);
        left: -380px;
    }
}



@keyframes mouthsing {
    0%,50%,100%{
        border-radius: 0%;
        height:6px

    }
    25%,75%{
        border-radius: 0%;
        height: 10px;

    }
    
}
.robot .mouth{
    animation: mouthsing 1s infinite;
}
@keyframes colorb1 {
    0%{
        background-color: green;

    }
    33.3%{
        background-color: red;

    }
    66.6%{
        background-color: blue;

    }
    100%{

        background-color: green;
    }
    
}@keyframes colorb2 {
    0%{
        background-color: red;

    }
    33.3%{
        background-color: blue;

    }
    66.6%{
        background-color: green;

    }
    100%{

        background-color: red;
    }
    
}@keyframes colorb3 {
    0%{
        background-color: blue;

    }
    33.3%{
        background-color: green;

    }
    66.6%{
        background-color: red;

    }
    100%{

        background-color: blue;
    }
    
}
.robot .b1{
    animation: colorb1 2s infinite;
}
.robot .b2{
    animation: colorb2 2s infinite;
}
.robot .b3{
    animation: colorb3 2s infinite;
}
